[general]
SkinName = Jay's Big Screen
SkinDescription = by Jay's Arcade
SkinSize = 1920 1080
Database = ../fruitbox.db
MusicPath = ../Music/
SortSongsBy Title
SortSongsBy Artist
SelectButtons = 0123456789
SelectButtons = 0123456789
AutoSelect = Yes
SelectTimeout = 150
SelectHoldTimeout = 150
AutoPageTurnTime = 3000
MaxPlaylistLength = 20
LoopPlaylist = no
AutoPlay = yes
AutoPlayGap = 10
PlaysPerCoin1 = 0
SongsPerPage = 2
PageSize = 340 90
PairSongs = yes

AlbumArtSize = 125 125
AlbumArtOffset = 0 0
AlbumArtAngle = 90
AlbumPageLineSpacing = 1

PageMoveStyle = 20 5 yes
SongLoadTime = 10
SongUnloadTime = 0
ArtistText = 2 50 40 40 200 centre true true false 0 0 260
SongText = 0 185 50 50 220 centre true true false 0 2 330
PairedSongText = 0 185 50 50 220 centre true true false 0 -4 330

[font]
File = TCB_____.TTF
Height = 27

[font]
File = technology.bold.ttf
Height = 30

[font]
File = TCB_____.TTF
Height = 22

[bitmap]
File = foreground.png
Position = 0 0
Size = 1920 1080

[page]
Position = 38 12
Angle = 0
Movedelay = 0

[page]
Position = 38 108
Angle = 0
Movedelay = 0

[page]
Position = 38 205
Angle = 0
Movedelay = 0

[page]
Position = 38 295
Angle = 0
Movedelay = 0

[page]
Position = 38 388
Angle = 0
Movedelay = 0

[page]
Position = 38 484
Angle = 0
Movedelay = 2

[page]
Position = 38 580
Angle = 0
Movedelay = 2

[page]
Position = 38 671
Angle = 0
Movedelay = 2

[page]
Position = 38 763
Angle = 0
Movedelay = 2

[page]
Position = 38 852
Angle = 0
Movedelay = 2

[page]
Position = 416 13
Angle = 0
Movedelay = 0

[page]
Position = 416 107
Angle = 0
Movedelay = 0

[page]
Position = 416 200
Angle = 0
Movedelay = 0

[page]
Position = 416 289
Angle = 0
Movedelay = 0

[page]
Position = 416 384
Angle = 0
Movedelay = 2

[page]
Position = 416 478
Angle = 0
Movedelay = 2

[page]
Position = 416 572
Angle = 0
Movedelay = 2

[page]
Position = 416 660
Angle = 0
Movedelay = 2

[page]
Position = 416 755
Angle = 0
Movedelay = 4

[page]
Position = 416 850
Angle = 0
Movedelay = 4

[page]
Position = 792 11
Angle = 0
Movedelay = 0

[page]
Position = 792 105
Angle = 0
Movedelay = 0

[page]
Position = 792 201
Angle = 0
Movedelay = 0

[page]
Position = 792 290
Angle = 0
Movedelay = 2

[page]
Position = 792 382
Angle = 0
Movedelay = 2

[page]
Position = 792 477
Angle = 0
Movedelay = 2

[page]
Position = 792 572
Angle = 0
Movedelay = 4

[page]
Position = 792 661
Angle = 0
Movedelay = 4

[page]
Position = 792 753
Angle = 0
Movedelay = 4

[page]
Position = 792 847
Angle = 0
Movedelay = 6

[page]
Position = 1170 11
Angle = 0
Movedelay = 0

[page]
Position = 1170 106
Angle = 0
Movedelay = 0

[page]
Position = 1170 198
Angle = 0
Movedelay = 2

[page]
Position = 1170 287
Angle = 0
Movedelay = 2

[page]
Position = 1170 382
Angle = 0
Movedelay = 4

[page]
Position = 1170 477
Angle = 0
Movedelay = 4

[page]
Position = 1170 569
Angle = 0
Movedelay = 6

[page]
Position = 1170 658
Angle = 0
Movedelay = 6

[page]
Position = 1170 753
Angle = 0
Movedelay = 8

[page]
Position = 1170 848
Angle = 0
Movedelay = 8

[page]
Position = 1548 11
Angle = 0
Movedelay = 0

[page]
Position = 1548 105
Angle = 0
Movedelay = 2

[page]
Position = 1548 201
Angle = 0
Movedelay = 4

[page]
Position = 1548 295
Angle = 0
Movedelay = 6

[page]
Position = 1548 391
Angle = 0
Movedelay = 8

[page]
Position = 1548 481
Angle = 0
Movedelay = 10

[page]
Position = 1548 572
Angle = 0
Movedelay = 12

[page]
Position = 1548 667
Angle = 0
Movedelay = 14

[page]
Position = 1548 762
Angle = 0
Movedelay = 16

[page]
Position = 1548 852
Angle = 0
Movedelay = 18


[status]
Contents recordspin.txt
Bitmap = recordspin_01.jpg
Bitmap = recordspin_02.jpg
Bitmap = recordspin_03.jpg
Bitmap = recordspin_04.jpg
Bitmap = recordspin_05.jpg
Bitmap = recordspin_06.jpg
Bitmap = recordspin_07.jpg
Bitmap = recordspin_08.jpg
Bitmap = recordspin_09.jpg
Bitmap = recordspin_10.jpg
Bitmap = recordspin_11.jpg
Bitmap = recordspin_12.jpg
Bitmap = recordspin_13.jpg
Bitmap = recordspin_14.jpg
Bitmap = recordspin_15.jpg
Bitmap = recordspin_16.jpg
Bitmap = recordspin_17.jpg
Bitmap = recordspin_18.jpg
Bitmap = recordspin_19.jpg
Bitmap = recordspin_20.jpg
Bitmap = recordspin_21.jpg
Bitmap = recordspin_22.jpg
Bitmap = recordspin_23.jpg
Bitmap = recordspin_24.jpg
Bitmap = recordspin_25.jpg
Bitmap = recordspin_26.jpg
Bitmap = recordspin_27.jpg
Bitmap = recordspin_28.jpg
Bitmap = recordspin_29.jpg
Bitmap = recordspin_30.jpg
Bitmap = recordspin_31.jpg
Bitmap = recordspin_32.jpg
Bitmap = recordspin_33.jpg
Bitmap = recordspin_34.jpg
Bitmap = recordspin_35.jpg
Bitmap = recordspin_36.jpg
Bitmap = recordspin_37.jpg
Size = 236 136
Position = 0 944
TimerTickPeriod = 1

[status]
Position = 250 967
Size = 620 90
Text = 1 0 228 0 255 center false true false 0 0 620
Contents = status0.txt
TimerTickPeriod = 50
linespacing = 1

[status]
Position = 1040 967
Size = 600 90
Text = 1 0 228 0 255 center false true false 0 0 600
Contents = status1.txt
LineSpacing = 1

[status]
Position = 905 986
Size = 110 93
Text = 1 0 228 0 255 center false false false 0 0 110
Contents = status2.txt

[status]
Position = 1698 950
Size = 125 125
Contents = now_playing_artwork.txt


#[joystick]
#Bitmap = ../glass.png
#Offset = -10 -10
#Size 330 50
